.container {
    align-items: center;
}

.titleSheet {
    text-align: center;
    padding: 5%;
}

nav {
    position: relative;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
}

nav ul {
    float: right;
    margin-right: 30px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav a:link {
    text-decoration: none;
    color: black;
    font-size: 25px;
    text-transform: uppercase;
    transition: background-color .5s linear;
    padding: 3px 6px;

}

nav a:active,
nav a:hover {
    background: #1b9bff;
    border-radius: 25px;
}

nav a:visited {
    color: black;
}

nav.navbar {
    padding-top: 20%;
    font-size:x-large;
}

.listClass li {
    list-style-type: none;
    text-align: center;
    padding: 1em;
}